<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guuber">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".UserData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Guuber"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".CurrentRequestsOffline"></activity>
        <activity android:name=".TransactionFragment" />
        <activity android:name=".ViewProfileActivity" />
        <activity android:name=".WalletActivity" />
        <activity android:name=".scanQrActivity" />
        <activity android:name=".QrActivity" />
        <activity android:name=".DriverProfilActivity" />
        <activity android:name=".RiderProfileActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="Guuber">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBrMB718EfayxLwWRqw3MMRYq_bWooDkm8" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".MapsRiderActivity"
            android:label="MAP" />
        <activity
            android:name=".MapsDriverActivity"
            android:label="MAP" />
    </application>

</manifest>